<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Reusable Form Demo</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
{% block javascript %}
    <script type="text/javascript">
$(document).ready(function() {
  <!--var socket = io.connect('http://' + document.domain + ':' + location.port );      -->
	var socket = io.connect('http://127.0.0.1:5000');

	socket.on('connect', function() {
		socket.send('User has connected!');
	});

  socket.on('my response', function(msg) {
        console.log('<p>Received: ' + msg.data + '</p>');
    });



	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
    socket.emit('my event', {data: 'sdfdsfdsf'});
		$('#myMessage').val('');
	});

  $('form#emit').submit(function(event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });

});
</script>

{% endblock %}

<div class="container">


    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}


    <br>
    <form id="dtm_form" class="form-group" action="/" method="POST" enctype="multipart/form-data">
<fieldset>
    <legend>DTM:</legend>
            {{ dtm_form.csrf_token }}
        {{ dtm_form.fileselector.label }}
        {{ dtm_form.fileselector(class_='form-control')}}
        {{ dtm_form.dtm_column_field.label}}
        {{ dtm_form.dtm_column_field(class_='form-control')}}
        {{ dtm_form.seperator.label }}
        {{ dtm_form.seperator(class_='form-control')}}
        {{ dtm_form.submit(class_='btn btn-success')}}
</fieldset>
    </form>
<br><hr><br>
    <p>
        <form id="scraper_form" class="form-group" action="/" method="POST" enctype="multipart/form-data">
<fieldset>
    <legend>Scrape URL's (which are in the DB and which contents were not scraped yet):</legend>
        {{ scraper_form.csrf_token }}
        {{ scraper_form.submit.label}}
        {{ scraper_form.submit(class_='btn btn-success')}}
</fieldset>
    </form>

<br><hr><br>
    <p>
    <form id="lat_long_form" class="form-group" action="/" method="POST" enctype="multipart/form-data">
<fieldset>
    <legend>Get coordinates with vat array as input:</legend>
        {{ lat_long_form.csrf_token }}
        {{ lat_long_form.fileselector.label }}
        {{ lat_long_form.fileselector(class_='form-control')}}
        {{ lat_long_form.vat_column_field.label}}
        {{ lat_long_form.vat_column_field(class_='form-control')}}
        {{ lat_long_form.seperator.label }}
        {{ lat_long_form.seperator(class_='form-control')}}
        {{ lat_long_form.submit(class_='btn btn-success')}}
</fieldset>
    </form>

     <p>
    <form id="add_new_latlong_to_db_form" class="form-group" action="/" method="POST" enctype="multipart/form-data">
<fieldset>
    <legend>Add new coordinatesto db if not existing with vat array as input:</legend>
                {{ add_new_latlong_to_db_form.csrf_token }}
{{ add_new_latlong_to_db_form.fileselector.label }}
        {{ add_new_latlong_to_db_form.fileselector(class_='form-control')}}
        {{ add_new_latlong_to_db_form.vat_column_field.label}}
        {{ add_new_latlong_to_db_form.vat_column_field(class_='form-control')}}
        {{ add_new_latlong_to_db_form.seperator.label }}
        {{ add_new_latlong_to_db_form.seperator(class_='form-control')}}
        {{ add_new_latlong_to_db_form.submit(class_='btn btn-success')}}
</fieldset>
    </form>


    <!--<p>
    <div class="alert alert-info">
  Messages:
    <ul id="messages_ul">
        <li id="messages_li"></li>
    </ul>
    <input type="text" id="myMessage">
<button id="sendbutton">Send</button>
</div>

    </p>-->
</div>
</body>
</html>